body {
  background: #0b0b0b;
  color: #00ffcc;
  font-family: monospace;
  padding: 20px;
}

.container {
  max-width: 650px;
  margin: auto;
  border: 1px solid #00ffcc;
  padding: 20px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

h3 {
  margin-top: 20px;
  color: #7dfff0;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  background: black;
  color: #00ffcc;
  border: 1px solid #00ffcc;
  border-radius: 6px;
}

button {
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #00ffcc;
  color: black;
}

pre {
  background: black;
  padding: 15px;
  margin-top: 15px;
  border-radius: 6px;
  border: 1px solid #00ffcc;
  max-height: 300px;
  overflow: auto;
}

.footer {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #aaa;
}

.footer a {
  color: #00ffcc;
  text-decoration: none;
}
